<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">


<servlet>
<servlet-name>insertPack</servlet-name>
<servlet-class>com.adminDemo.packageInsertServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>insertPack</servlet-name>
<url-pattern>/insert</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>accessPack</servlet-name>
<servlet-class>com.adminDemo.accessServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>accessPack</servlet-name>
<url-pattern>/access</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>updatePack</servlet-name>
<servlet-class>com.adminDemo.updateServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>updatePack</servlet-name>
<url-pattern>/update</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>deletePack</servlet-name>
<servlet-class>com.adminDemo.deleteServlet</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>deletePack</servlet-name>
<url-pattern>/delete</url-pattern>
</servlet-mapping>

</web-app>